<div id="listados">
  <div class="row justify-content-center">
    <div class="d-grid gap-2 col-3 mx-auto">
      <button class="btn btn-outline-success" type="button" (click)="agregar()">Crear Candidato</button>
    </div>
    <div class="col-9">
      <H1>LISTADO DE CANDIDATOS</H1>
    </div>
    <div class="col">
    </div>
  </div>
  <table class="table table-hover table-sm align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Partido</th>
        <th scope="col">Resolución</th>
        <th scope="col">EDITAR</th>
        <th scope="col">PARTIDO</th>
        <th scope="col">ELIMINAR</th>
      </tr>
    </thead>
    <tbody *ngFor="let candidatoActual of candidatos">
      <tr>
        <td>{{ candidatoActual.cedula }}</td>
        <td>{{ candidatoActual.nombre_apellido }}</td>
        <td>{{ candidatoActual.partido }}</td>
        <td>{{ candidatoActual.resolucion }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="editar(candidatoActual._id!)">
            <i class="fa-regular fa-pen-to-square" style="font-size: 20px"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="partido(candidatoActual._id!)">
            <i class="fa-regular fa-address-card" style="font-size: 20px"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(candidatoActual._id!)">
            <i class="fa-regular fa-trash-can" style="font-size: 20px"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>