<body id="margen">
  <div class="card text-white bg-secondary mb-9 bg-opacity-50" style="max-width: 50rem;">
    <div class="card-header">
      <h2>Sobre Nosotros</h2>
    </div>
    <div class="card-body">

      <p class="card-text">La Registraduría Nacional del Estado Civil es una entidad con autonomía administrativa,
        contractual y presupuestal, organizada de manera desconcentrada, que tiene a su cargo el registro de la vida
        civil e identificación de los colombianos y la realización de los procesos electorales y los mecanismos de
        participación ciudadana, con plenas garantías para los colombianos.</p>

      <p class="card-text"> La entidad se organiza en dos niveles, el nivel central, con competencia nacional, y el
        nivel desconcentrado, cuya competencia está circunscrita a una circunscripción territorial específica. Los dos
        niveles participan en el diseño de los planes, políticas y programas generales de la administración, así como en
        su ejecución.</p>

      <p class="card-text">En su nivel central, la entidad cuenta con dos Registradurías Delegadas, una en lo Electoral
        y otra para el Registro Civil y la identificación, mientras que en el nivel desconcentrado cuenta con
        Delegaciones Departamentales, Registradurías distritales y municipales, registradurías auxiliares y una para el
        Distrito Capital de Bogotá.</p>
    </div>
  </div>
</body>