<body id="margen">
  <div
    class="card text-white bg-secondary mb-9 bg-opacity-50"
    style="max-width: 50rem"
  >
    <div class="card-header"><h2>Visión</h2></div>
    <div class="card-body">
      <p class="card-text">
        La RNEC será, en 2023, una institución que les facilite la vida a los
        colombianos gracias al rediseño de su arquitectura organizacional, al
        uso estratégico de nuevas tecnologías para el cumplimiento de sus
        misiones y a la adopción de una nueva cultura organizacional de atención
        que esté centrada en el ciudadano como principal fuente de creación de
        valor público.
      </p>

      <p class="card-text">
        Asimismo, la entidad gozará de una mejor reputación, pues
        habrá contribuido activamente a simplificar los trámites de registro
        civil e identificación, a modernizar las elecciones, a fortalecer la
        democracia colombiana, a reducir el abstencionismo electoral, a
        consolidar el nuevo sistema de democracia juvenil y a mitigar el cambio
        climático con un modelo de operación respetuoso del medio ambiente.
      </p>

      <p class="card-text">
      </p>
    </div>
  </div>
</body>
