body {
  margin: 0;
  background: url(https://registraduria.gov.co/IMG/arton30828.jpg?1663945596);
  background-size: cover;
  background-attachment: fixed;
  height: 900px
}
#margen  {
  margin: 0px;
  padding: 40px;
  }
