<body id="margen">
  <div
    class="card text-white bg-secondary mb-9 bg-opacity-50"
    style="max-width: 80rem"
  >
    <div class="card-header"><h2>Misión</h2></div>
    <div class="card-body">
      <p class="card-text">
        Artículo 4.º. Misión de la Registraduría Nacional del Estado Civil. Es
        misión de la Registraduría Nacional del Estado Civil garantizar la
        organización y transparencia del proceso electoral, la oportunidad y
        confiabilidad de los escrutinios y resultados electorales, contribuir al
        fortalecimiento de la democracia mediante su neutralidad y objetividad,
        promover la participación social en la cual se requiera la expresión de
        la voluntad popular mediante sistemas de tipo electoral en cualquiera de
        sus modalidades, así como promover y garantizar, en cada evento legal en
        que deba registrarse la situación civil de las personas, que se
        registren tales eventos, se disponga de su información a quien deba
        legalmente solicitarla, se certifique mediante los instrumentos idóneos
        establecidos por las disposiciones legales y se garantice su
        confiabilidad y seguridad plenas. (Decreto 1010 de 2000, énfasis
        añadido)
      </p>

      <p class="card-text">
        Las palabras enfatizadas fueron derogadas tácitamente por el artículo 12
        del Acto Legislativo 1 de 2009, que le entregó la competencia
        constitucional para conocer y decidir sobre los escrutinios al Consejo
        Nacional Electoral (CNE).
      </p>

      <p class="card-text">
        Todo lo anterior debe, además, interpretarse en concordancia con los
        artículos 120, 264, 265 y 266 de la Constitución de 1991. Estas normas
        definen la conformación y las funciones de la Organización Electoral,
        que, en el ordenamiento jurídico colombiano, está integrada por la RNEC
        y el CNE.
      </p>
      <p class="card-text">
        Adicionalmente, sobre la misión legal de la RNEC cabe precisar dos
        aspectos. El primero es que, aunque el rol que la ley le otorga a la
        entidad frente al proceso electoral es garantizar su transparencia y,
        para conseguirlo, le impone ser neutral frente a los actores que
        participan en el sistema democrático, no ocurre lo mismo en relación con
        el propio modelo democrático.
      </p>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text"></p>
    </div>
  </div>
</body>
